.contact{
    text-align: center;
}
.containerr {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact input, textarea{

    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    resize: none;
}

.contact button{           
    border: none;
    border-radius: 12px;
    background-color: #052d2f; 
    color: rgb(189, 184, 184);
    cursor: pointer;
    font-size: 1rem;
    margin: 10px; 
    padding: 15px;
    width: 100px;   
}

.contact-links{
    text-align: center; 
    margin-bottom: 20px;     
} 
.media-buttons .btn{
    border: none; 
    border-radius: 25px;    
    cursor: pointer;     
    font-size: 32px;
    margin: 10px;
    padding: 5px; 
    width: 50px;
    background-color: white;
}
.btn:hover {
    background-color: gray;
}

h1 {
    text-align: center;
    color: #007bff;
}
